<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJs demo</title>
    <link href="css/vuestyle.css" rel="stylesheet"/>
    <script src=" https://unpkg.com/vue"></script>
  </head>
  <body>

    <div id="vue-app">
      <h1>
        {{name}}
      </h1>

      <h2>2. Data Binding</h2>
      <a v-bind:href="website">sites</a>
      <input type="text" v-bind:value="name" />
      <p v-html="websiteTag"></p>
      <h2>3. Events</h2>
        <button @click="add(1)"> Add a year</button>
        <button v-on:click="subtract(1)"> Subtract a year</button>
        <button @dblclick="add(10)"> double click add ten years</button>
        <button v-on:dblclick="subtract(10)">double click  Subtract ten year</button>
      <p>
        My age is {{age}}
      </p>
      <div id="canvas" v-on:mousemove="updateXY">
        {{x}},{{y}}
      </div>



      <h2>4. Event Modifers </h2>
      <button @click.once="add(1)"> Add a year but can only operate once</button>
      <p>
        <a @click.prevent="clickonce()" href="https://www.baidu.com">this will be prevented</a>
        <p >
          checkout more at event modifiers
        </p>
      </p>

      <h2>5. Keyboard Events</h2>
      <p>
        event can only be trigger for certain events
      </p>
      <label>Name:</label>
      <input type="text" @keyup.alt.enter="logName"/>
      <label>Age:</label>
      <input type="text" @keyup.enter='logAge' />

      <h2>6. Two Way DataBinding</h2>
      <label>Name:</label>
      <input type="text" v-model='name'/>
      <span>{{name}}</span>
      <br />
      <label>Age:</label>
      <input type="text" v-model='age' />
      <span>{{age}}</span>

      <h2>7. Computed Properties</h2>
      <button @click="a++">Add to A</button>
      <button @click="b++">Add to B</button>
      <p>
        A -{{a}}
      </p>
      <p>
        B -{{b}}
      </p>
      <p>
        Age +A = {{addToA}}
      </p>
      <p>
        Age +B = {{addToB}}
      </p>

    </div>
    <script src="js/vueapp.js"></script>

  </body>
</html>
