<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Looping through data</title>
    <link href="css/style3.css" rel="stylesheet" />
    <script src=" https://unpkg.com/vue"></script>

  </head>
  <body>
   <div id="vue-app">
     <h1>Looping Through List</h1>

     <ul>
       <li v-for='fruit in fruits'>
         {{fruit}}
       </li>
     </ul>

     <ul v-for="(fruit,index) in fruits">
        {{fruit}} - {{index}}
     </ul>

     <ul>
       <li v-for='recepie in recepies'>
         {{recepie}}
       </li>
     </ul>

     <div v-for='(val,key) in recepies'>
       <h3>index {{key}} ,  vaule  {{val}}</h3>
     </div>

     <template v-for='(recepie,index) in recepies'>
       <h3>{{index}} --- {{recepie.name}}</h3>
    </template>



</div>
    <script src="js/vue_014.js"></script>

  </body>
</html>
