<div class="container">
  <h1>{{title}}</h1>
  <div class="studentlist">
      <ul class="list-group">
          {{#each students}}
            <li class="list-group-item">{{this.age}} - {{this.name}}  
              <p class="btn pull-right icon-delete">Delete this item
              <a href="#">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              </p>
            </li>
          {{/each}}
      </ul>
  </div>
</div>

<script>
      
(function($) { //wrap to local scope
    $(document).ready(function() {
        //this doesn't work ofcourse.. but should explain what I'm after
        console.log('hahahha')
    });
})(jQuery);

</script>