line-height = 10px
body 
    margin: 0
    padding: 0
    h1
     color: #5e5e5e
     line-height: line-height


border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

form input[type=button]
  border-radius(5px)     