<div class="container">
  <h1>{{title}}</h1>
  <div class="studentlist">
      <ul class="list-group">
          {{#each students}}
            <li class="list-group-item">{{this.age}} - {{this.name}}</li>
          {{/each}}
      </ul>
  </div>
</div>