body {
  height: 100%;
  background: #4791d2;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.row {
  margin-top: 80px;
}

.btn-upload {
  color: #fff;
  background-color: #f89406;
  border: none;
}

.btn-upload:focus,
.btn-upload:hover,
.btn-upload:active,
.btn-upload:active {
  color: #fff;
  background-color: #fa8900;
  border: none;
}

h4 {
  padding: 15px;
  color: #b8bdc1;
}

.glyphicon {
  font-size: 5em;
  color: #9ca3a9;
}

h2 {
  margin-top: 15px;
  color: #68757e;
}

.panel {
  padding: 20px 0;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

.container .btn-success {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

input[type="file"] {
  margin: 10px;
  display: none;
}
