.hi
    background-color: #5e5e5e
    a
        text-decoration: none
        color: #fff
    &:hover
        color: #4e0e0e    



border-radius()
    border-radius: arguments
    -webkit-border-radius: arguments
    -moz-border-radius: arguments        