<div class="container">
  <h1>{{title}}</h1>
     <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for student whose age ...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-submit" type="button">Go!</button>
            </span>
     </div><!-- /input-group -->

      <div class="studentlist">
      <ul class="list-group">
          {{#each students}}
            <li class="list-group-item">{{this.age}} - {{this.name}}</li>
          {{/each}}
      </ul>
  </div>
</div>
<script>
    console.log('hahah ');
    $(document).ready(function(){
        console.log('window loaded');
        let input = $('input.form-control');
        input.on('input', function() {
            let value = input.val();
            if (value && value.length>0){
                $('ul.list-group').html(`<li class='list-group-item'>${input.val()}</li>`).show();
            } 
            else {
                $('ul.list-group').hide();
            }

        });
});
</script>
