<div class="container">
  <h1>{{title}}</h1>
     <div class="input-group">
            <input type="text" class="form-control" placeholder="The name of the Student you wanna add... ">
            
            <input type="text" class="form-control" id='age' placeholder="The age of the student... ">
            
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
    </div><!-- /input-group -->
    <span class="input-group-btn">
        <button class="btn btn-disabled btn-submit" type="button">Submit!</button>
    </span>
    
    <div class="studentlist">
        <ul class="list-group">
        </ul>
      </div>
</div>
<script>
    console.log('hahah ');
    $(document).ready(function() {
        console.log('window loaded');

        let inputName = $('input.form-control');
        let inputAge= $('input.form-control#age');
        let comments = $('textarea.form-control');
        let buttonSummit = $('button.btn-submit');

      
          inputName.on('input', function() {
            toggleBtnState(checkInput());
             let value = inputAge.val();
            if (value && value.length>0){
                $('ul.list-group').html(`<li class='list-group-item'>${inputName.val()}</li>`).show();
            } 
            else {
                $('ul.list-group').hide();
            }

        });

        inputAge.on('input', function() {
            let value = inputAge.val();
            toggleBtnState(checkInput());
          
            if (value && value.length>0){
               
            } 
            else {
               
            }

        });
        

        comments.on('input', function() {
            toggleBtnState(checkInput());
            //let value = comments.val();
            // console.log(value);
        });


        function checkInput() {
         let name = inputName.val();
         let age = inputAge.val();
         let comment = comments.val();  
         let enabled;
         if(name && name.length > 0 && age && age.length>0 && comment && comment.length>0) {
            return true;
         } else {
           return false;
         }
        }

        function toggleBtnState(enabled) {
            if (enabled)
             {
                if (buttonSummit.hasClass('btn-disabled')) {
                    buttonSummit.removeClass('btn-disabled') ;
                }
                if (!buttonSummit.hasClass('btn-success')){
                    buttonSummit.addClass('btn-success') ;
                }
            } else {
                if (buttonSummit.hasClass('btn-success')) {
                    buttonSummit.removeClass('btn-success') ;
                }
                if (!buttonSummit.hasClass('btn-disabled')){
                    buttonSummit.addClass('btn-disabled') ;
                }
            }
        }
        


        $('button.btn-submit').click(function(e){
            if (checkInput()) {
                 let name = inputName.val();
                 let age = inputAge.val();
                 let comment = comments.val();
                 $.post(
                    {
                        url:"/student/add",
                        async: true,
                        data: {name: name, age: age},
                        dataType: 'html',
                        success: function(data, textStatus){
                            console.log('good success');
                            window.location.href = '/student/all';
                        },
                        complete: function(XMLHttpRequest, textStatus){
                            console.log('completed');
                        },
                        error: function(XMLHttpRequest,textstatus,error){
                            console.log(error);
                        }
                    }
                    );  
            } 
        });
});
</script>
