body,ul,li,a,div,span {
    margin: 0;
    padding: 0;
}

ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.clearfix{
    clear: both;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }


/* Global styles */



.nav-top{
    overflow: auto;
    background-color: #35424a;
}

.nav-top img{
    min-width: 30%;
    height: 100px;
    float: left;
}

.nav-top ul{
    float: right;
    margin-top: 10px;
    padding: 0;
    width: 70%;
    text-align: right;
    box-sizing: border-box;
}


.nav-top ul li{
    display: inline;
    margin: 0 10px;
    text-align: right;
    margin-right: 60px;
}

.nav-top ul li a{
  text-decoration: none;
  color: #f35e3d;
  padding: 20px;
}

.nav-top::after{
    content: "";
    clear: both;
    display: block;
}



/* ShowCase Style */

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
  }
  
  #showcase .bg-image {
    position: absolute;
    background: #333
      url("/img/pexels-photo-574077.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;
  }
  
  #showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
  }
  
  #showcase .content-wrap,
  #section-a .content-wrap {
    padding: 0 1.5em;
  }
  





/* Section style */
.container-wrapper{
    border: .9px rgb(209, 202, 202) solid;
    margin-top: 80px;
}

.container-wrapper:after{
    content: '';
    display: block;
    clear: both;
  }

.container-wrapper div:nth-of-type(1){
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.container-wrapper div:nth-of-type(2){
    float: right;
    width: 45%;
    box-sizing: border-box;
    
}

.container{
    margin: 0 10px;
}


.container>h1{
    font-family: 'Alegreya', serif;
}




.container ul li {
    list-style: none;
    width: 100%;
    height: 100px;
    margin: 20px auto;
    padding: 0;
    text-align: left;
    background-color: rgba(230, 231, 231, 0.425);
    vertical-align: middle;
    border: .5px solid #ffeeff;
    -webkit-box-shadow: 7px 6px 24px -12px rgba(0,0,0,0.21);
    -moz-box-shadow: 7px 6px 24px -12px rgba(0,0,0,0.21);
    box-shadow: 7px 6px 24px -12px rgba(0,0,0,0.21);
    position: relative;
}



.container ul li:hover{
   /* transform: scale(1.02,1.02); */
   transition-duration: .3s;
   background: rgb(233, 228, 228);
}

.container ul li img{
    position: absolute;
    left: 10%;
    top: 0;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;    
    display: inline-block;    
}


.container  ul li span{
    margin-top: -20px;
    top: 0;
    border: 1px solid #5e5e5e;
}

.container ul li a {
    text-decoration: none;
    color: #f35e3d;
    background-color: coral;
    font-size: 18px;
    left: 100px;
    text-align: left;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    width: 50%;
    height: 100%;
    font-family: 'Alegreya', serif;
    transform: translateY(-50%);
    
}


/* Footter Style */

footer{
    margin: 10px auto;
    text-align: center;
    height: 200px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    background-color: #dfdae7;
}

footer .block{
    border: #35424a solid 1px;
    flex-basis: 27%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #896db9;
    border-radius: 10px;
    margin: 0 10px;
}


footer div:nth-child(1){
    background-image: url("../assets/images/1102533911-1.jpg");
    flex: 1;
    order: 2;
}

footer div:nth-of-type(2){
    background-image: url("../assets/images/1102531047-2.jpg");
    flex: 1;
}

footer div:nth-of-type(3){
    background-image: url("../assets/images/image_005.jpg");
}

footer .block .block-link{
    color: #f35e3d;
    text-decoration: none;
    line-height: 200px;
    height: 100%;
    width: 100%;
    font-size: 36px;
    display: inline-block;
}




